@model Person
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Html.ValidationSummary(false)

<form method="post">
    @Html.AntiForgeryToken()
    @Html.Partial("_PersonForm")
    <button type="submit">Neu anlegen</button>
</form>

@Html.ActionLink("Zurück zur Liste","Index")