@model Person
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.ValidationSummary(false)

<form method="post">
    @Html.Partial("_PersonForm")
    <button type="submit">Daten ändern</button>
</form>

@Html.ActionLink("Zurück zur Liste", "Index")